body {
    background-color: rgba(0, 0, 0, .1)
}

select, input {
    font-size: 1.25rem;
    max-width: 150px;
}

option {
    font-size: 1rem;
}

h1, h2, h3 {
    margin: auto;
    width: 50%;
    text-align: center;
}

h2, h3 {
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 50px;
    width: auto;
}

h3 {
    margin-top: -30px !important;
}

#mph {
    margin-left: 180px;
}

/*#mph::after {
    background-image: url(/img/delorean2.gif);
    transform: rotateY(180deg);
    margin-top: -55px;
    margin-left: 70px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: 100px 100px;
    content: '';
}*/

.label {
    font-size: 1.5rem;
}

.select-date, .button-group {
    display: grid;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

.empty {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
}

.label-month {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
}

.label-day {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
}

.label-year {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
}

.label-date {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    margin-top: -15px;
    font-size: 1.75rem;
    font-weight: 700;
}

.hide {
    display:none;
}