<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        body {
            background-color: rgba(0, 0, 0, .1)
        }

        .label {
            font-size: 1.5rem;
        }

        select, input {
            font-size: 1.25rem;
            max-width: 150px;
        }

        option {
            font-size: 1rem;
        }

        h1, h2 {
            margin: auto;
            width: 50%;
            text-align: center;
        }

        h2 {
            color: rgba(0, 0, 0, .6);
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 50px;
            width: auto;
        }

        .select-date {
            display: grid;
            width: 70%;
            margin: auto;
            margin-bottom: 30px;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: auto;
        }

        .empty {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
        }

        .label-month {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
        }

        .label-day {
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 1;
        }

        .label-year {
            grid-column-start: 4;
            grid-column-end: 4;
            grid-row-start: 1;
        }

        .label-date {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            margin-top: -15px;
            font-size: 1.75rem;
            font-weight: 700;
        }

        .hide {
            display: none;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    <script>



        let currentMonth = moment().format('MM');
        let currentDay = moment().format('DD');
        let currentYear = moment().year();
        let month1
        let month2
        let day1
        let day2
        let year1
        let year2

        let dayArray1
        let dayArray2
        let i

        let date1
        let date2

        let result
        let response

        let displayDate2


        window.onload = () => {

            getDayOptions1();
            getDayOptions2();
            getCurrentMonth1();
            getCurrentMonth2();
            getResult();

            document.getElementById('test').innerHTML = localStorage.getItem('first-date')
            document.getElementById('test1').innerHTML = localStorage.getItem('second-date')

            document.getElementById('select-year-1').setAttribute('value', currentYear);
            document.getElementById('select-year-2').setAttribute('value', currentYear);            
        }

        window.onchange = () => {
            getResult();
            persistData();
        }

        function getCurrentMonth1() {
            let monthArray = document.getElementById('select-month-1').children;
            for (let i = 0; i < monthArray.length; i++) {
                let number = monthArray[i].value;

                if (localStorage.getItem('first-date') != null) {

                    let parts = localStorage.getItem('first-date').split('/');

                    let monthArray = document.getElementById('select-month-1').children;

                    for (let i = 0; i < monthArray.length; i++) {
                        let number = monthArray[i].value;

                        if (number == parts[0]) {
                            console.log(number);
                            console.log(parts[0]);
                            monthArray[i].setAttribute('selected', 'selected');
                            month1 = number;
                            break;
                        }
                    }
                }
                else if (monthArray[i].value == currentMonth) {
                    monthArray[i].setAttribute('selected', 'selected');
                    month1 = number;
                }
                else {
                    console.error('Error processing first date')
                }
            }
        }

        function getCurrentMonth2() {
            let monthArray = document.getElementById('select-month-2').children
            for (let i = 0; i < monthArray.length; i++) {
                let number = monthArray[i].value;

                if (localStorage.getItem('second-date') != null) {

                    let parts = localStorage.getItem('second-date').split('/');

                    let monthArray = document.getElementById('select-month-2').children;

                    for (let i = 0; i < monthArray.length; i++) {
                        let number = monthArray[i].value;

                        if (number == parts[0]) {
                            console.log(number);
                            console.log(parts[0]);
                            monthArray[i].setAttribute('selected', 'selected');
                            month2 = number;
                            break;
                        }
                    }
                }
                else if (monthArray[i].value == currentMonth) {
                    monthArray[i].setAttribute('selected', 'selected');
                    month2 = number;
                }
                else {
                    console.error('Error processing second date')
                }
            }
        }

        function getDayOptions1() {

            HTMLSelectElement = document.querySelector('#select-month-1');
            let monthInput1 = HTMLSelectElement.value;

            HTMLSelectElement = document.querySelector('#select-year-1');
            let yearInput1 = HTMLSelectElement.value;

            dayArray1 = Array.from(Array(moment(`${yearInput1}-${monthInput1}`).daysInMonth()), (_, i) => i + 1)

            document.getElementById('select-day-1').innerHTML = '';

            for (let i = 0; i < dayArray1.length; i++) {
                document.getElementById('select-day-1').innerHTML += `<option value="${dayArray1[i]}">${dayArray1[i]}</option>`;
            }

            let dayOptionArray1 = document.getElementById('select-day-1').children
            for (let i = 0; i < dayOptionArray1.length; i++) {
                let number = dayOptionArray1[i].value;
                if (number == parseInt(currentDay, 10)) {
                    dayOptionArray1[i].setAttribute('selected', 'selected');
                    day1 = number;
                    break;
                }
            }
        }

        function getDayOptions2() {

            HTMLSelectElement = document.querySelector('#select-month-2');
            let monthInput2 = HTMLSelectElement.value;

            HTMLSelectElement = document.querySelector('#select-year-2');
            let yearInput2 = HTMLSelectElement.value;

            dayArray2 = Array.from(Array(moment(`${yearInput2}-${monthInput2}`).daysInMonth()), (_, i) => i + 1)

            document.getElementById('select-day-2').innerHTML = '';

            for (let i = 0; i < dayArray2.length; i++) {
                document.getElementById('select-day-2').innerHTML += `<option value="${dayArray2[i]}">${dayArray2[i]}</option>`;
            }
            let dayOptionArray2 = document.getElementById('select-day-2').children
            for (let i = 0; i < dayOptionArray2.length; i++) {
                let number = dayOptionArray2[i].value;
                if (number == parseInt(currentDay, 10)) {
                    dayOptionArray2[i].setAttribute('selected', 'selected');
                    day2 = number;
                    break;
                }
            }
        }

        function getResult() {
            month1 = document.getElementById('select-month-1').value;
            day1 = document.getElementById('select-day-1').value;
            year1 = document.getElementById('select-year-1').value;
            date1 = moment(`${month1}/${day1}/${year1}`);

            month2 = document.getElementById('select-month-2').value;
            day2 = document.getElementById('select-day-2').value;
            year2 = document.getElementById('select-year-2').value;
            date2 = moment(`${month2}/${day2}/${year2}`);

            result = moment(date2).diff(moment(date1), 'days');

            let displayDate1 = moment(date1).format('MM/DD/YYYY')
            let displayDate2 = moment(date2).format('MM/DD/YYYY')

            switch (true) {
                case (result == 0):
                    response = `You're living in the here and now, baby!`;
                    document.getElementById('result').innerHTML = response;
                    break;
                case (result > 0):
                    response = `On this lovely date of ${displayDate1},\ <br></br> \ ${displayDate2} is ${result} days from now.`;
                    document.getElementById('result').innerHTML = response;
                    break;
                case (result < 0):
                    response = `On this lovely date of ${displayDate1},\ <br></br> \ ${displayDate2} was ${result * -1} days ago.`;
                    document.getElementById('result').innerHTML = response;
            }
        }

        function persistData() {
            localStorage.clear()
            localStorage.setItem('first-date', moment(date1).format('MM/DD/YYYY'));
            localStorage.setItem('second-date', moment(date2).format('MM/DD/YYYY'));
        }
    </script>
</head>
<body>
    <h1>Date Calculator</h1>
    <h2>See how far away your date is from the target date</h2>
    <div class="select-date">
        <div class="label label-date">Start Date</div>
        <div class="empty"></div>
        <div class="label label-month">Month</div>
        <select onclick="getDayOptions1()" id="select-month-1">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <div class="label label-day">Day</div>
        <select id="select-day-1"></select>
        <div class="label label-year">Year</div>
        <input onchange="getDayOptions1()" id="select-year-1" />
    </div>

    <div class="select-date">
        <div class="label label-date">Target Date</div>
        <div class="empty"></div>
        <div class="label label-month">Month</div>
        <select onclick="getDayOptions2()" id="select-month-2">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <div class="label label-day">Day</div>
        <select id="select-day-2"></select>
        <div class="label label-year">Year</div>
        <input onchange="getDayOptions2()" id="select-year-2" />
    </div>
    <h2 id="result"></h2>
    <h1 id="test"></h1>
    <h1 id="test1"></h1>

</body>
</html>